export(add.env)
export(background.points.buffer)
export(background.raster.buffer)
export(background.shape.buffer)
export(background.test)
export(calc.B1)
export(calc.B2)
export(check.bg)
export(check.clade)
export(check.species)
export(drop.species)
export(enmtools.aoc)
export(enmtools.bc)
export(enmtools.calibrate)
export(enmtools.clade)
export(enmtools.dm)
export(enmtools.ecospat.bg)
export(enmtools.ecospat.id)
export(enmtools.gam)
export(enmtools.glm)
export(enmtools.maxent)
export(enmtools.ppmlasso)
export(enmtools.rf.ranger)
export(enmtools.rf)
export(enmtools.species)
export(env.breadth)
export(env.evaluate)
export(env.overlap)
export(identity.test)
export(marginal.plots)
export(combine.species)
export(moses.list)
export(node.overlap)
export(interactive.plot.enmtools.species)
export(interactive.plot.enmtools.model)
export(point.overlap)
export(raster.cor.plot)
export(geog.range.overlap)
export(rangebreak.blob)
export(rangebreak.linear)
export(rangebreak.ribbon)
export(raster.breadth)
export(raster.cor)
export(raster.cor.matrix)
export(raster.overlap)
export(raster.pca)
export(raster.resid)
export(raster.standardize)
export(species.from.file)
export(threespace.plot)
export(trimdupes.by.raster)
export(visualize.enm)
export(visualize.overlap)
export(sim.points)
S3method(plot, enmtools.background.test)
S3method(plot, ecospat.bg.test)
S3method(plot, ecospat.id.test)
S3method(plot, enmtools.aoc)
S3method(plot, enmtools.bc)
S3method(plot, enmtools.calibrate)
S3method(plot, enmtools.clade)
S3method(plot, enmtools.dm)
S3method(plot, enmtools.gam)
S3method(plot, enmtools.glm)
S3method(plot, enmtools.maxent)
S3method(plot, enmtools.ppmlasso)
S3method(plot, enmtools.rf)
S3method(plot, enmtools.rf.ranger)
S3method(plot, enmtools.species)
S3method(plot, enmtools.identity.test)
S3method(plot, enmtools.rangebreak.blob)
S3method(plot, enmtools.rangebreak.linear)
S3method(plot, enmtools.rangebreak.ribbon)
S3method(predict, enmtools.bc)
S3method(predict, enmtools.dm)
S3method(predict, enmtools.gam)
S3method(predict, enmtools.glm)
S3method(predict, enmtools.maxent)
S3method(predict, enmtools.ppmlasso)
S3method(predict, enmtools.rf)
S3method(predict, enmtools.rf.ranger)
S3method(print, enmtools.background.test)
S3method(print, ecospat.bg.test)
S3method(print, ecospat.id.test)
S3method(print, enmtools.aoc)
S3method(print, enmtools.bc)
S3method(print, enmtools.calibrate)
S3method(print, enmtools.clade)
S3method(print, enmtools.dm)
S3method(print, enmtools.gam)
S3method(print, enmtools.glm)
S3method(print, enmtools.maxent)
S3method(print, enmtools.ppmlasso)
S3method(print, enmtools.rf)
S3method(print, enmtools.rf.ranger)
S3method(print, enmtools.species)
S3method(print, enmtools.identity.test)
S3method(print, enmtools.rangebreak.blob)
S3method(print, enmtools.rangebreak.linear)
S3method(print, enmtools.rangebreak.ribbon)
S3method(summary, enmtools.background.test)
S3method(summary, ecospat.bg.test)
S3method(summary, ecospat.id.test)
S3method(summary, enmtools.aoc)
S3method(summary, enmtools.bc)
S3method(summary, enmtools.calibrate)
S3method(summary, enmtools.clade)
S3method(summary, enmtools.dm)
S3method(summary, enmtools.gam)
S3method(summary, enmtools.glm)
S3method(summary, enmtools.maxent)
S3method(summary, enmtools.ppmlasso)
S3method(summary, enmtools.rf)
S3method(summary, enmtools.rf.ranger)
S3method(summary, enmtools.species)
S3method(summary, enmtools.identity.test)
S3method(summary, enmtools.rangebreak.blob)
S3method(summary, enmtools.rangebreak.linear)
S3method(summary, enmtools.rangebreak.ribbon)
importFrom(ape,drop.tip)
importFrom(ape,getMRCA)
importFrom(ape,branching.times)
importFrom(ape,read.nexus)
importFrom(ape,nodelabels)
importFrom(CalibratR,calibrate)
importFrom(CalibratR,getECE)
importFrom(CalibratR,getMCE)
importFrom(CalibratR,statistics_calibratR)
importFrom(CalibratR,predict_calibratR)
importFrom(caret,calibration)
importFrom(dismo,circles)
importFrom(dismo,randomPoints)
importFrom(dismo,evaluate)
importFrom(dismo,bioclim)
importFrom(dismo,maxent)
importFrom(ecospat,ecospat.boyce)
importFrom(ecospat,ecospat.grid.clim.dyn)
importFrom(ecospat,ecospat.niche.equivalency.test)
importFrom(ecospat,ecospat.niche.similarity.test)
importFrom(ENMeval,get.block)
importFrom(fields,rdist)
importFrom(graphics,plot.new)
importFrom(graphics,abline)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,title)
importFrom(graphics,par)
importFrom(ggplot2,geom_abline)
importFrom(ggplot2,geom_contour)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_raster)
importFrom(ggplot2,geom_vline)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,ggtitle)
importFrom(ggplot2,layer)
importFrom(ggplot2,qplot)
importFrom(ggplot2,theme_bw)
importFrom(ggplot2,theme_classic)
importFrom(ggplot2,xlab)
importFrom(ggplot2,xlim)
importFrom(ggplot2,ylim)
importFrom(ggplot2,geom_tile)
importFrom(ggplot2,coord_fixed)
importFrom(ggplot2,theme)
importFrom(ggplot2,element_text)
importFrom(ggplot2,theme)
importFrom(ggplot2,stat_density_2d)
importFrom(ggplot2,qplot)
importFrom(ggplot2,guides)
importFrom(ggplot2,guide_colourbar)
importFrom(ggplot2,aes)
importFrom(ggplot2,aes_string)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_text)
importFrom(ggplot2,scale_color_manual)
importFrom(ggplot2,scale_linetype_manual)
importFrom(ggplot2,scale_x_continuous)
importFrom(ggplot2,theme_minimal)
importFrom(ggpubr,ggtexttable)
importFrom(ggpubr,ggarrange)
importFrom(ggpubr,annotate_figure)
importFrom(ggpubr,text_grob)
importFrom(gridExtra,grid.arrange)
importFrom(hypervolume, hypervolume_gaussian)
importFrom(hypervolume, hypervolume_project)
importFrom(hypervolume, hypervolume_set)
importFrom(hypervolume, get_volume)
importFrom(knitr,kable)
importFrom(leaflet, leaflet)
importFrom(leaflet, colorFactor)
importFrom(leaflet, addProviderTiles)
importFrom(leaflet, addRasterImage)
importFrom(leaflet, addCircleMarkers)
importFrom(leaflet, addLegend)
importFrom(leaflet, colorNumeric)
importFrom(leaflet, markerClusterOptions)
importFrom(leaflet, addLayersControl)
importFrom(leaflet, layersControlOptions)
importFrom(lhs,randomLHS)
importFrom(magrittr,"%>%")
importFrom(mgcv,gam)
importFrom(mgcv,gam.check)
importFrom(ppmlasso,ppmlasso)
importFrom(ppmlasso,predict.ppmlasso)
importFrom(randomForest,randomForest)
importFrom(ranger,ranger)
importFrom(raster,crs)
importFrom(raster,extract)
importFrom(raster,stack)
importFrom(raster,mask)
importFrom(raster,getValues)
importFrom(raster,rasterToPoints)
importFrom(raster,cellStats)
importFrom(raster,sampleRandom)
importFrom(raster,values)
importFrom(raster,getValues)
importFrom(raster,maxValue)
importFrom(raster,minValue)
importFrom(raster,rasterize)
importFrom(raster,res)
importFrom(raster,setMinMax)
importFrom(ResourceSelection,hoslem.test)
importFrom(reshape2,melt)
importFrom(rgeos,gUnaryUnion)
importFrom(sp,bbox)
importFrom(sp,coordinates)
importFrom(spatstat,rpoispp)
importFrom(spatstat,im)
importFrom(stats,complete.cases)
importFrom(stats,as.formula)
importFrom(stats,reformulate)
importFrom(stats,delete.response)
importFrom(stats,density)
importFrom(stats,dist)
importFrom(stats,prcomp)
importFrom(stats,sd)
importFrom(stats,cor)
importFrom(stats,terms)
importFrom(stats,lm)
importFrom(stats,glm)
importFrom(stats,formula)
importFrom(stats,as.dist)
importFrom(stats,cmdscale)
importFrom(stats,na.omit)
importFrom(stats,princomp)
importFrom(stats,runif)
importFrom(stats,rbinom)
importFrom(utils,combn)
importFrom(utils,capture.output)
importFrom(utils,head)
importFrom(utils,read.csv)
importFrom(vegan,metaMDS)
importFrom(viridis,scale_fill_viridis)
